html {
	background-color: #ffffff;
	font-size: 16px;
}

.container h1 {
	font-family: "didot", serif;
	/*font-family: "raleway", sans-serif;*/
	/*font-weight: 100;*/
	font-size: 6em;
	text-align: center;
	opacity: 1;
}

header {
	position: fixed;
	z-index: 9999;
	background: url('../img/bg.png');
	background-repeat: repeat;
	min-width: 100%;
	max-height: 200px;
}

#social ul li {
	display: inline;
}


nav ul {
	text-align: right;

}


nav ul li {
	display: inline;


}

main {
	margin-top: 200px;
}

.btn {
	text-shadow: 0 0 0 #fff;
	background-image: none;


}

.btn-default{
	font-family: "raleway", sans-serif;
	background-color: #ffffff;
	border: 0;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/***
 * ZALeyba Social
 * Reactive Social Media Icons
 * hover state color inversion
 ***/

.iglogo {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/iglogo.png) center top no-repeat;

}


.iglogo:hover {
	background-image: url('../img/instagram-alt.png');

}

.tumblrlogo {
	width: 30px;
	height:30px;
	display: inline-block;
	background:transparent url('../img/tumblrlogo.png') center top no-repeat;
}

.tumblrlogo:hover {
	background-image: url('../img/tumblr-alt.png');

}

footer {
	height: 50px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding-top: 15px;
}

.gallery img {
	max-width: 360px;
	max-height: 360px;
	padding: 10px 10px 10px;

}

.gallery ul li {
	display: inline;
}
