/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html { overflow-y: scroll; }
/*body { font: 12px/1.4 Helvetica, sans-serif; background: #333; color: #333; }*/
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
a:focus { outline: 0; }

#page-wrap { 
    width: 500px; margin: 40px auto 5px; background: #91c7ff; 
    padding: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(top,  #eee,  #ccc);
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

#main-content { padding: 14px; }

/***
*CSS for dynamic header
***/

*{
	box-sizing: border-box;
}



@supports (position: sticky) {
	body {
		padding-top: 0;
	}

	header {
		position: sticky;
	}

}

.navbar {
	position: relative;
	height: 100px;
	width: 100%;
	transition: 0.5s ease;
}

.navbar .nav {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
	margin-right: 5%;
}

.navbar .nav .item {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	padding: 5px;
	font-weight: 300;
	line-height: 80px;
	margin-right: 20px;
	transition: 0.5s ease;
}

.navbar .nav .item .contact {
	display: inline-block;
	background-color: #ffffff;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	border-radius: 2px;
	transition: 0.5s ease;
}

.navbar .nav .item a {
	text-decoration: none;
	color: inherit;
}

.navbar .logo {

	font-size: 50px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 5%;
	width: 70px;
	height: 70px;
	background-color: firebrick;
	transition: 0.5s ease;
}

.navbar .logo img {
	display: none;
}

.scrolled {
	transition: 0.5s ease;
}

.scrolled.navbar {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	transition: 0.5s ease;

}


.scrolled.navbar .nav .item {
	line-height: 40px;
	transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
	display: inline-block;
	background-color: #ffffff;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	border-radius: 2px;
	transition: 0.5s ease;
}

.navbar .h1 {

	font-size: 80px;
	transition: 0.5s ease;
}

.scrolled.navbar .h1 {
	text-align: center;
	font-size: 30px;
	transition: 0.5s ease;
}

.scrolled.navbar .logo {

	display: inline-block;
	margin-top: 5px;
	margin-left: 5%;
	font-size: 30px;
	width: 40px;
	text-align: center;
	height: 40px;
	background-color: black;
	transition: 0.5s ease;
}
